*{ margin:0px; padding:0px;}
/* div{
	border: 1px solid green;
} */
body{
	text-aline:center;
	font-family:"Microsoft YaHei";
}
#top{
	height: 6%;
	background-color: #46A3D1;
	color:white;
	font-size: 15px;
}

#main{
	width:93%;
	height:100%;
	margin: 4px 12px;
}