@charset "utf-8";
/*高基表*/
.Gj_tab_title{
text-align:center;
font-size: 24px;
font-weight:bold;
background-color: #C0C0C0;
font-family: SimSun;
}

.Gj_tab_title2{
text-align:center;
font-size: 16px;
font-weight:bold;
background-color: #C0C0C0;
font-family: SimSun;
}
.Gj_tab_title3{
text-align:center;
font-size: 12px;
background-color: #C0C0C0;
font-family: SimSun;
}
.Gj_tab_title3_left{
text-align:left;
font-size: 12px;
background-color: #C0C0C0;
border-right: 0px;
font-family: SimSun;
}
.Gj_tab_title3_right{
text-align:right;
font-size: 12px;
background-color: #C0C0C0;
border-left: 0px;
font-family: SimSun;
}
.Gj_tab_title3_fr_del_bottom{
text-align:right;
font-size: 12px;
background-color: #C0C0C0;
border-bottom: 0px;
font-family: SimSun;
}

.Gj_tab_title3_fr_del_tb{
text-align:right;
font-size: 12px;
background-color: #C0C0C0;
border-bottom: 0px;
border-top: 0px;
font-family: SimSun;
}

.Gj_tab_title3_fr_del_top{
text-align:right;
font-size: 12px;
background-color: #C0C0C0;
border-top: 0px;
font-family: SimSun;
}

.Gj_tab_text{
text-align:center;
font-size: 12px;
font-family: SimSun;
}

.add_icon{ width:16px; height:16px; color:#FFF; background:url(../images/gjb/bt_add.png) no-repeat center center #2e8ae6; float:left; text-align:center; -webkit-border-radius: 2px;-moz-border-radius: 2px; border-radius: 2px;}
.add_icon:hover{ width:16px; height:16px; color:#FFF; background:url(../images/gjb/bt_add.png) no-repeat center center #41a0ff; float:left; text-align:center; -webkit-border-radius: 2px;-moz-border-radius: 2px; border-radius: 2px;}
.del_icon{ width:16px; height:16px; color:#FFF; background:url(../images/gjb/bt_del.png) no-repeat center center #2e8ae6; float:left; text-align:center; -webkit-border-radius: 2px;-moz-border-radius: 2px; border-radius: 2px;}
.del_icon:hover{ width:16px; height:16px; color:#FFF; background:url(../images/gjb/bt_del.png) no-repeat center center #41a0ff; float:left; text-align:center; -webkit-border-radius: 2px;-moz-border-radius: 2px; border-radius: 2px;}

.Gj_input01{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 30px;
}

.Gj_input02{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 50px;
}

.Gj_input03{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 80px;
}

.Gj_input04{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 110px;
}

.Gj_input05{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 130px;
}

.Gj_input06{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 150px;
}

.Gj_input06{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 150px;
}

.Gj_input07{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 180px;
}

.Gj_input08{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 220px;
}

.Gj_input09{
text-align:center;
font-size: 12px;
font-family: SimSun;
width: 260px;
}

#cus_ser{z-index:9999;float: right;margin: 10 10 0 0;}
