*{
	margin:0px;
	padding:0px;
}

.middle input {
           display: block;width:30px; margin:2px;
       }

.zhuanye_index{
	   height:100%;
}


.top_title_zy{
	height:8%;
	width:96%;
	background-color: #46A3D1;
	margin-left: 10px;
	line-height: 50px;
	margin-top: 6px;
}
.top_zhuanye_ren{
	height:46%;
	float: left;
	background: blue;
    width: 100%;
	border: 1px solid #CCCCCC;
}
.top_left_zhuanye{
	float: inherit;
	width: 30%;
    height: 100%;
    border: 1px solid red;
    background:red;
}

.top_center_caozuo{
	width: 10%;
	background:#49beb9;
	height:100%;
	float:left;
}

.top_right_ren{
	width: 29%;
    height: 100%;
    border: 1px solid green;
    float: right;
    background:#0000ff;
}
.top_left_zhuanye_panel_heading{
	background-color: rgb(35, 198, 200);
    color: rgb(255, 255, 255);
    border-color: rgb(35, 198, 200);
}
.top_right_ren_panel_heading{
	background-color: rgb(248, 172, 89);
    color: rgb(255, 255, 255);
    border-color: rgb(248, 172, 89);
}

.bottom_cheked_ren{
	background: aqua;
}
.search{
	float:left;
}

