.title_zy{
	height:8%;
	width:96%;
	background-color: #46A3D1;
	margin-left: 10px;
	line-height: 50px;
	margin-top: 6px;
	}
	
	.top_zy{
	height:7%;
	width:96%;
	margin-left: 10px;
	margin-top: 10px;
	}
	
		.down_zy{
	height:81.8%;
	width:98%;
	margin-left: 10px;
	}
.top_ul_zy li{
	list-style-type:none;
	float: left;
}	