@CHARSET "UTF-8";
/* 现场考察~我的现场考察 */
/*主体 - 头部 */
body {
	background-image: url(../../img/majorEvaluation/beijing.png) !important;
}

li {
	list-style-type: none;
}

.top-znj {
	float: none;
	height: 50px;
	margin: 0px auto;
	background-color: #354B67;
	color: #FFFFFF;
}
.top-znj li{
	float: left;
	height: 50px;
	line-height: 52px;
	font-size: 15px;
	letter-spacing: 2px;
	list-style-type: none;
}
.top-li-1-znj{
	margin-left: 112px;
	font-size: 18px!important;
}

.top-li-2-znj{
	margin-left: 60px;
	font-size: 18px!important;
}

.top-li-3-znj{
	margin-left: 60px;
	font-size: 18px!important;
}

/*主体 - 内容 */
.button-znj{
	float: none;
	margin: 30px auto 0px auto;
	background-color: #FFF;
	border: 1px solid #DDDDDD;
}
.main-1-znj{
	float: none;
	margin-top: 20px;
}
.main-1-znj label{margin-left: 10px; }
.main-2-znj{
	float: none;
	min-height: 100px;
	border: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.main-2-znj label{
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	margin-right: 10px!important;
}
.btn:hover {
    background-color: #01D8AA;
    color: #FFF;
    border: 1px solid transparent;
}