@charset "utf-8";
/* 专业评估--评估状态样式表 */
/* 导航 */
li{list-style-type: none;}
.navbar {
	height: 43px;
	min-height: initial;
	border-radius: 0px;
	background-color: #404A58;
	margin-bottom: 0;
	box-shadow: 0px 1px 3px #000;
	box-shadow: 0px 1px 3px #000;/*opera或ie9*/
	-webkit-box-shadow: 0px 1px 3px #000;
	position: relative;
}

.navbar-header {
	margin-bottom: 1px;
}

.navbar-brand {
	height: 42px;
}

.navbar a {
	font-size: 14px;
	color: #FFFFFF;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	margin-left: 70px;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: #404A58;
	border-bottom: 2px solid #19C6A1;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: inherit;
}

.navbar-nav {
	margin: 0px;
}

.navbar-collapse {
	background-color: #404A58;
}
.a-znj{border-bottom: 2px solid #19C6A1;}
/*主体 - 头部 */
.top-znj{
	float: none;
	min-height:50px;
	margin: 0px auto;
	background-color: #354B67;
	color: #FFFFFF;
}
.top-li-znj{
	float: left;
	width: 200px;
	height: 50px;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 50px;
	margin-left: 90px;
}
.top-li-znj span{
	margin-left: 10px;
	font-size: 21px;
}
.btn-znj{
	
}
.btn-znj span {
	display: block;
	float: right;
	width: 78px;
	height: 30px;
	line-height: 27px;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 50px;
	text-align: center;
	border: 2px solid #43B7EB;
	border-radius: 4px;
	cursor: pointer;
}
.btn-color-znj{
	background-color: #43B7EB;
}
/*主体 - 表格 */
.bottom-znj {
	float: none;
	margin: 10px auto;
}
.table-znj th,.table-znj td{
	text-align: center;
}
.th-1{
	width: 12%;
}
.th-2{
	width: 13%;
}
.th-3{
	width: 13%;
}
.th-4{
	width: 13%;
}
.th-5{
	width: 13%;
}
.th-6{
	width: 13%;
}
.th-7{
	width: 13%;
}
.th-8{
	width: 8%;
}