<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="audit.dao.AsAccessSuggestCheckPointMapper" >
  <resultMap id="BaseResultMap" type="audit.model.assess.AsAccessSuggestCheckPoint" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="access_id" property="accessId" jdbcType="INTEGER" />
    <result column="specialty_id" property="specialtyId" jdbcType="INTEGER" />
    <result column="index_name" property="indexName" jdbcType="VARCHAR" />
    <result column="suggest_content" property="suggestContent" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, access_id, specialty_id, index_name, suggest_content, user_id, create_datetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from AS_ACCESS_SUGGEST_CHECK_POINT
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AS_ACCESS_SUGGEST_CHECK_POINT
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="audit.model.assess.AsAccessSuggestCheckPoint" useGeneratedKeys="true" keyProperty="id">
    insert into AS_ACCESS_SUGGEST_CHECK_POINT (id, access_id, specialty_id, 
      index_name, suggest_content, user_id, 
      create_datetime)
    values (#{id,jdbcType=INTEGER}, #{accessId,jdbcType=INTEGER}, #{specialtyId,jdbcType=INTEGER}, 
      #{indexName,jdbcType=VARCHAR}, #{suggestContent,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{createDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="audit.model.assess.AsAccessSuggestCheckPoint" useGeneratedKeys="true" keyProperty="id">
    insert into AS_ACCESS_SUGGEST_CHECK_POINT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accessId != null" >
        access_id,
      </if>
      <if test="specialtyId != null" >
        specialty_id,
      </if>
      <if test="indexName != null" >
        index_name,
      </if>
      <if test="suggestContent != null" >
        suggest_content,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accessId != null" >
        #{accessId,jdbcType=INTEGER},
      </if>
      <if test="specialtyId != null" >
        #{specialtyId,jdbcType=INTEGER},
      </if>
      <if test="indexName != null" >
        #{indexName,jdbcType=VARCHAR},
      </if>
      <if test="suggestContent != null" >
        #{suggestContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="audit.model.assess.AsAccessSuggestCheckPoint" >
    update AS_ACCESS_SUGGEST_CHECK_POINT
    <set >
      <if test="accessId != null" >
        access_id = #{accessId,jdbcType=INTEGER},
      </if>
      <if test="specialtyId != null" >
        specialty_id = #{specialtyId,jdbcType=INTEGER},
      </if>
      <if test="indexName != null" >
        index_name = #{indexName,jdbcType=VARCHAR},
      </if>
      <if test="suggestContent != null" >
        suggest_content = #{suggestContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="audit.model.assess.AsAccessSuggestCheckPoint" >
    update AS_ACCESS_SUGGEST_CHECK_POINT
    set access_id = #{accessId,jdbcType=INTEGER},
      specialty_id = #{specialtyId,jdbcType=INTEGER},
      index_name = #{indexName,jdbcType=VARCHAR},
      suggest_content = #{suggestContent,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>