<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="audit.dao.AsCjBmxxMapper">
	<resultMap id="BaseResultMap" type="audit.model.AsCjBmxx">
		<id column="cjbmdm" property="cjbmdm" jdbcType="INTEGER" />
		<result column="cjbmmc" property="cjbmmc" jdbcType="VARCHAR" />
		<result column="jgdm" property="jgdm" jdbcType="INTEGER" />
		 <collection property="users" column="id" ofType="audit.model.User">    
            <id property="id" column="id" javaType="int" jdbcType="INTEGER"/>    
            <result property="showName" column="showName" javaType="string" jdbcType="VARCHAR"/> 
            <result property="orga" column="orga" javaType="int" jdbcType="INTEGER"/> 
        </collection> 
	</resultMap>
	
	<!--多表查询操作-->  
    <select id="selectUsers" parameterType="int"  resultMap="BaseResultMap" >  
        <!--分别为mobile的主键id与user的主键id赋值别名,避免因为两个表字段名称相同而注入到对应对象名称冲突-->  
        select cb.jgdm,u.id,u.showname,u.organization from userinfo u,AS_CJ_CJBMXX cb where u.organization = cb.jgdm and cb.cjbmdm = #{cjbmdm}   
    </select>  
    
	<!-- 查询所有数据 -->
	<select id="selectAll_data" useCache="false" flushCache="false" resultMap="BaseResultMap">
		SELECT * FROM AS_CJ_CJBMXX
	</select>
	
	<!-- 查询单个 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		cjbmdm,cjbmmc,jgdm
		from AS_CJ_CJBMXX
		where cjbmdm = #{cjbmdm,jdbcType=INTEGER}
	</select>
	
</mapper>